@import url(./main.css);

:root {
    --clr-shadow-highlight: #030303aa;
}
body[dark-mode] {
    --clr-shadow-highlight: #9a9a9a77;
}
main {
    flex-direction: column;
}

main h1 {
    font-size: 3em;
    margin-bottom: 0.25em;
}

/* CARTAS DE ACCION RAPIDA */

.quick-card-container {
    margin: 0.5em;
    padding: 0.25em;
    gap: 2em;
    flex-wrap: wrap;
}

.quick-card {
    cursor: pointer;
    width: 200px;
    aspect-ratio: 1 / 1;
    border: none;
    outline: none;
    border-radius: 0.5em;
    box-shadow: 0 0 10px #03030377;
    overflow: hidden;
    background-color: var(--clr-sidebar);
    transition: all .3s ease;
}

.quick-card .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 0.5em 0.75em;
    box-shadow: inset 1px -10px 10px -10px #03030377;
}

.quick-card .header ion-icon {
    font-size: 2em;
    color: var(--clr-sidebar-highlight);
}

.quick-card .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: start;
    width: 100%;
    padding: 0.5em 0.75em;
    color: var(--clr-main-text);
}

.quick-card .content h3 {
    font-size: 1.75em;
}

.quick-card .content p {
    font-size: 1.25em;
    padding: 0.5em 0;
}

.quick-card .divider {
    width: 100%;
    height: 0.05em;
    border-radius: 5px;
    background-color: var(--clr-sidebar-highlight);
    opacity: 0.7;
    align-self: center;
}

.quick-card .decorator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 1em;
}

.quick-card .decorator ion-icon {
    font-size: 2em;
}

.quick-card:hover,
.quick-card:focus-visible {
    transform: scale(110%);
    box-shadow: 0 0 10px var(--clr-shadow-highlight);
}