@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;300;400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
}
:root {
    --sidebar-width: 4em;
    --sidebar-open-width: 15em;

    --topbar-height: 4em;

    --clr-main: #ca6fee;
    --clr-mid-color: #b741d4;
    --clr-mid-color-2: #c438b8;
    --clr-highlight: #f06ee5;

    --clr-background:#f9f9f9;
    --clr-sidebar: #fff;
    --clr-sidebar-li: #030303;
    --clr-sidebar-highlight: #dedede;
    --clr-main-text: #111;
    --clr-text-accent: #9237b6;
    --clr-text-obscured: #999;
    --clr-shadow-highlight: #030303aa;
    --clr-completed: #29bd3d;

    --clr-shadow: #03030377;
    --clr-disabled: #bababa;
    --clr-disabled-icon: #ededed;
}
body[dark-mode] {
    --clr-background:#191919;
    --clr-sidebar: #1f1f1f;
    --clr-sidebar-li: #ccc;
    --clr-sidebar-highlight: #353535;
    --clr-main-text: #eee;
    --clr-text-accent: #c659f1;
    --clr-text-obscured: #777;
    --clr-shadow-highlight: #9a9a9a77;
    --clr-completed: #1eac31;

    --clr-disabled: #434343;
    --clr-disabled-icon: #757575;
}
body {
    color: var(--clr-main-text);
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--clr-background);
}
main {
    padding: 1em;
    width: 100%;
}
a {
    text-decoration: none;
}
ion-icon {
    pointer-events: none;
    color: var(--clr-sidebar-li);
}

/* BOTONES */
.btn {
    cursor: pointer;
    width: fit-content;
    padding: 0.5em;
    border: none;
    outline: none;
    border-radius: 0.25em;
    color: var(--clr-text-accent);
    background-color: var(--clr-sidebar-highlight);
}
.btn:hover {
    filter: brightness(80%);
}
.btn-primary {
    color: #eee;
    background: linear-gradient(135deg, var(--clr-main), var(--clr-mid-color), var(--clr-highlight));
}
.btn-circle {
    border-radius: 50%;
}
.btn-border {
    border-radius: 50%;
    background: linear-gradient(135deg, var(--clr-main), var(--clr-mid-color), var(--clr-highlight));
}
.btn-border button {
    border: 0.3em solid var(--clr-background);
}
body[dark-mode] .btn:hover {
    filter: brightness(120%);
}

/* ALERTAS */

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    color: #000;
    background-color: #bababa;
    border: 0.15em solid #fff;
    border-radius: 0.25em;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert .close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
}
.alert .close span {
    font-size: 2em;
    color: inherit;
}

/* MODALES */
.modal {
    position: fixed;
    top: -200vh;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    background-color: #00000088;
    transition: all .4s ease;
}

.modal[open] {
    top: 0;
    opacity: 1;
    pointer-events: unset;
}

.modal-container {
    width: 60vw;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 10px var(--clr-shadow);
    background-color: var(--clr-sidebar);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25em 1em;
    border-bottom: 1px solid var(--clr-sidebar-highlight);
}

.modal-header .close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    color: inherit;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
}

.modal-header .close-modal span {
    font-size: 2.5em;
    color: inherit;
}

/* UTILITIES ESTRUCTURAS */

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.grid {
    display: grid;
}

/* UTILITIES TEXTOS */

.text-thin {
    font-weight: 100;
}
.text-light {
    font-weight: 300;
}
.text-bold {
    font-weight: 700;
}

/* ITEM DESACTIVADO */

.disabled {
    cursor: not-allowed;
    background-color: var(--clr-disabled);
}

.disabled ion-icon,
.disabled span {
    color: var(--clr-disabled-icon);
}

/* SIDEBAR */

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: var(--sidebar-width);
    width: var(--sidebar-width);
    height: 100vh;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px #0007;
    overflow-x: hidden;
    background-color: var(--clr-sidebar);
    transition: all .3s ease;
}

.sidebar .divider {
    width: 80%;
    height: 0.05em;
    border-radius: 5px;
    background-color: var(--clr-sidebar-highlight);
    align-self: center;
}

.sidebar-header {
    justify-content: flex-start;
    align-items: center;
    padding: calc(var(--sidebar-width) * 0.1);
    gap: 0em;
    white-space: nowrap;
    transition: gap .3s ease;
}

.sb-icon-img {
    height: calc(var(--sidebar-width) * 0.8);
    aspect-ratio: 1 / 1;
    border-radius: 25%;
}

.sidebar-header span {
    font-size: 2em;
    margin-right: 0.125em;
}

.sidebar-nav-menu {
    width: 100%;
    flex-shrink: 0;
    justify-content: center;
    padding-top: calc(var(--sidebar-width) * 0.1);
    padding-bottom: calc(var(--sidebar-width) * 0.1);
}

/* BOTON PARA ABRIR NAV REGISTRADO */

.sidebar-nav-menu button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--sidebar-width) * 0.85);
    aspect-ratio: 1 / 1;
    border: none;
    outline: none;
    border-radius: 0.8em;
    box-shadow: 0 0 10px #0005;
    transition: background-color .3s ease;
}

.sidebar-nav-menu button:hover {
    background-color: var(--clr-sidebar-highlight);
}

.sidebar-nav-menu .nav-menu-icon {
    position: relative;
    width: calc(var(--sidebar-width) * 0.5);
    height: 7.5%;
    border-radius: 0.25em;
    background-color: transparent;
}

.nav-menu-icon::before,
.nav-menu-icon::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: calc(var(--sidebar-width) * 0.3);
    height: 100%;
    border-radius: 0.25em;
    background-color: #2b2b2b;
    transition: all .3s ease;
}

.nav-menu-icon::before {
    transform: translate(-40%, -125%) rotate(40deg);
}

.nav-menu-icon::after {
    transform: translate(-40%, 125%) rotate(-40deg);
}

/* SIDEBAR NAV LISTA */

.sidebar-nav {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar-nav ul {
    width: 100%;
    padding: calc(var(--sidebar-width) * 0.1) 0;
}

.sidebar-nav li {
    width: 100%;
    /* padding: calc(var(--sidebar-width) * 0.1); */
}

.sidebar-nav li ion-icon {
    display: block;
    min-width: 2em;
    min-height: 2em;
    color: var(--clr-sidebar-li);
}

.sb-li {
    display: flex;
    width: 100%;
    height: var(--sidebar-width);
    justify-content: flex-start;
    align-items: center;
    gap: 0em;
    padding: calc(var(--sidebar-width) * 0.25);
    white-space: nowrap;
    border-radius: 0.5em;
    color: var(--clr-sidebar-li);
    transition: background-color .3s ease, gap .3s ease;
}

.sidebar-nav li a:hover {
    background-color: var(--clr-sidebar-highlight);
}

.sb-text-appear {
    opacity: 0;
    transition: all .3s ease;
}

.sidebar-profile {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--sidebar-width) * 0.1);
}

.sidebar-profile-user {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    /* padding: calc(var(--sidebar-width) * 0.1); */
    gap: 0em;
    color: var(--clr-sidebar-li);
    transition: gap .3s ease;
}

.sidebar-profile-username {
    opacity: 0;
    transition: all
}

.sidebar-profile-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 25%;
}

.sidebar-profile-logout:hover {
    background-color: var(--clr-sidebar-highlight);
}

.sidebar-profile-logout ion-icon {
    display: block;
    min-width: 2em;
    min-height: 2em;
    color: var(--clr-sidebar-li);
}

.sidebar .dark-light-container {
    width: 100%;
    height: var(--sidebar-width);
    background-color: var(--clr-sidebar);
}

.sidebar .dark-light-toggle ion-icon {
    min-width: 2em;
    min-height: 2em;
    color: var(--clr-sidebar-li);
}

.sidebar .dark-light-toggle {
    cursor: pointer;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    background-color: var(--clr-sidebar);
}

.sidebar .dark-light-toggle:hover {
    background-color: var(--clr-sidebar-highlight);
}

.sidebar[open] {
    min-width: var(--sidebar-open-width);
    width: var(--sidebar-open-width);
}

.sidebar[open] .sidebar-nav-menu button {
    width: var(--sidebar-open-width);
    height: calc(var(--sidebar-width) * 0.85);
    aspect-ratio: unset;
}

.sidebar[open] .nav-menu-icon::before {
    transform: translate(-40%, 0%) rotate(-45deg);
    width: calc(var(--sidebar-width) * 0.5);
}

.sidebar[open] .nav-menu-icon::after {
    transform: translate(-40%, 0%) rotate(45deg);
    width: calc(var(--sidebar-width) * 0.5);
}

.sidebar[open] .sb-li,
.sidebar[open] .sidebar-profile-user,
.sidebar[open] .sidebar-header {
    gap: 1em;
}

.sidebar[open] .sb-text-appear {
    opacity: 1;
}

/* TOPBAR (USUARIO NO REGISTRADO) */

.topbar {
    position: sticky;
    top: 0;
    left: 0;
    height: var(--topbar-height);
    box-shadow: 0 0 10px #0007;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-sidebar);
}

.topbar .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: calc(var(--topbar-height) * 0.1);
}

.topbar .header-logo img {
    height: calc(var(--topbar-height) * 0.8);
    aspect-ratio: 1 / 1;
    border-radius: 0.5em;
}

.topbar .header-logo-text {
    font-size: 2em;
}

.topbar .header-logo-text span {
    margin-right: 0.125em;
}

.topbar-nav {
    flex-grow: 1;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.topbar-nav ul {
    height: 100%;
}

.topbar-nav ul li {
    height: 100%;
    list-style: none;
}

.topbar-nav ul li a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    color: var(--clr-sidebar-li);
}

.topbar-nav ul li a:hover {
    background-color: var(--clr-sidebar-highlight);
}

.topbar .dark-light-container {
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: calc(var(--topbar-height) * 0.1)
}

.topbar .dark-light-toggle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--clr-sidebar);
}

.topbar .dark-light-toggle:hover {
    background-color: var(--clr-sidebar-highlight);
}

.topbar .dark-light-toggle ion-icon {
    font-size: 2em;
}

.dark-light-toggle .light,
body[dark-mode] .dark-light-toggle .dark {
    display: none;
}

body[dark-mode] .dark-light-toggle .light,
.dark-light-toggle .dark {
    display: initial;
}

/* MOBILE TOPBAR */

.mobile-nav-button {
    display: none;
}

@media screen and (max-width: 480px) {
    .topbar {
        position: relative;
        width: 100vw;
        z-index: 999;
    }
    
    .topbar-nav {
        position: fixed;
        flex-grow: unset;
        flex-direction: column;
        top: 0;
        left: 100%;
        width: 50vw;
        height: 100vh;
        padding-top: var(--topbar-height);
        background-color: var(--clr-sidebar);
        transition: all .3s ease;
        box-shadow: 0 0 10px #0007;
    }

    .topbar-nav ul {
        flex-direction: column;
    }

    .topbar-nav ul li {
        height: var(--topbar-height);
    }
    
    .dark-light-container {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        z-index: 999;
    }

    .mobile-nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: none;
        outline: none;
        aspect-ratio: 1 / 1;
        background-color: var(--clr-sidebar);
        z-index: 999;
    }

    .hamburger-icon {
        position: relative;
        width: calc(100% * 0.5);
        height: 7.5%;
        border-radius: 0.25em;
        background-color: var(--clr-sidebar-li);
    }
    
    .hamburger-icon::before,
    .hamburger-icon::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 0.25em;
        background-color: var(--clr-sidebar-li);
        transition: all .3s ease;
    }

    .hamburger-icon::before {
        transform: translate(-50%, -200%);
    }

    .hamburger-icon::after {
        transform: translate(-50%, 200%);
    }

    .topbar[open] .hamburger-icon {
        background-color: transparent;
    }

    .topbar[open] .hamburger-icon::before {
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .topbar[open] .hamburger-icon::after {
        transform: translate(-50%, 0%) rotate(-45deg);
    }

    .topbar[open] .topbar-nav {
        left: 50%;
    }

    .topbar[open] body {
        overflow: hidden;
    }
}
