<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
        To Do List
    {% endblock title %}
    </title>
    {% block head_content %}
    {% endblock head_content %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
</head>
<body class="{% if current_user.is_authenticated %}flex{% else %}flex flex-column{% endif %}">
    {% if current_user.is_authenticated %} 
        <div class="flex sidebar">
            <header class="flex sidebar-header">
                <img class="sb-icon-img" src="{{ url_for('static', filename='media/TD-logo.png') }}" alt="Logo">
                <div class="sidebar-header-text sb-text-appear">
                    <span class="text-bold">ToDo</span><span class="text-light">List</span>
                </div>
            </header>
            <div class="divider"></div>
            <div class="flex sidebar-nav-menu" title="Menu">
                <button id="menuBtn">
                    <div class="nav-menu-icon"></div>
                </button>
            </div>
            <div class="divider"></div>
            <nav class="sidebar-nav">
                    <ul>
                        <li title="Inicio"><a class="sb-li" href="{{ url_for('routes.home') }}">
                            <ion-icon name="home"></ion-icon>
                            <span class="sb-li-text sb-text-appear">Inicio</span>
                        </a></li>
                        <li title="Listas"><a class="sb-li" href="{{ url_for('list.my_lists', user=current_user.username) }}">
                            <ion-icon name="create"></ion-icon>
                            <span class="sb-li-text sb-text-appear">Listas</span>
                        </a></li>
                        {% if current_user.email_confirmed %}
                            <li title="Amigos"><a class="sb-li" href="{{ url_for('friends.friend_list', username=current_user.username) }}">
                                <ion-icon name="people"></ion-icon>
                                <span class="sb-li-text sb-text-appear">Amigos</span>
                                {% if get_requests_number(current_user) > 0 %}
                                    <div class="request-bubble">
                                        <span class="number">{{ get_requests_number(current_user) }}</span>
                                    </div>
                                {% endif %}
                            </a></li>
                        {% else %}
                            <li class="sb-li disabled" title="Amigos">
                                <ion-icon class="disabled" name="people"></ion-icon>
                                <span class="sb-li-text sb-text-appear">Amigos</span>
                            </li title="Verificar cuenta">
                            <li><a class="sb-li" href="{{ url_for('auth.unconfirmed') }}">
                                <ion-icon name="checkmark-circle"></ion-icon>
                                <span class="sb-li-text sb-text-appear">Verificar cuenta</span>
                            </a></li>
                        {% endif %}
                        <li title="Configuración"><a class="sb-li" href="{{ url_for('settings.main') }}">
                            <ion-icon name="settings"></ion-icon>
                            <span class="sb-li-text sb-text-appear">Configuración</span>
                        </a></li>
                    </ul>
            </nav>
            <div class="dark-light-container">
                <button class="flex sb-li dark-light-toggle" title="Toggle Dark Mode">
                    <ion-icon class="dark" name="moon"></ion-icon>
                    <ion-icon class="light" name="sunny"></ion-icon>
                    <span id="dark-mode-text" class="sb-li-text sb-text-appear">Modo oscuro</span>
                </button>
            </div>
            <div class="divider"></div>
            <div class="flex sidebar-profile">
                <a class="sidebar-profile-user" href="{{ url_for('list.my_lists', user=current_user.username) }}">
                    <img class="sb-icon-img" src="{{ url_for('static', filename='uploads/profiles/{}'.format(current_user.pic_path)) }}" alt="Imagen de perfil">
                    <span class="sb-user-text sb-text-appear">{{ current_user.username }}</span>
                </a>
                <a class="sidebar-profile-logout" href="{{ url_for('auth.logout') }}">
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </div>
        </div>
    {% else %}
        <header class="flex topbar in-start">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='media/TD-logo.png') }}" alt="Logo">
                <div class="header-logo-text">
                    <span class="text-bold">ToDo</span><span class="text-light">List</span>
                </div>
            </div>
            <nav class="flex topbar-nav">
                <ul class="flex">
                    <li><a href="{{ url_for('auth.sign_up') }}">Registrarse</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Ingresar</a></li>
                </ul>
            </nav>
            <div class="dark-light-container">
                <button class="dark-light-toggle" title="Toggle Dark Mode">
                    <ion-icon class="dark" name="moon"></ion-icon>
                    <ion-icon class="light" name="sunny"></ion-icon>
                </button>
            </div>
            <button id="mobileMenuBtn" class="mobile-nav-button">
                <div class="hamburger-icon"></div>
            </button>
        </header>
    {% endif %}
    
    <main class="flex">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                        <button type="button" class="close" aria-label="Cerrar alerta">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock content %}
    </main>
    
    <script>
        let theme = localStorage.getItem('preferred-theme');
        const darkModeText = document.getElementById('dark-mode-text');

        if (theme === "dark") {
            document.body.toggleAttribute('dark-mode');

            if (darkModeText) darkModeText.textContent = 'Modo claro';
        }
    </script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>