{% extends 'base.html' %}

{% block title %}
    To Do List
{% endblock title %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock head_content %}
    
{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Inicio</h1>
        <h2>Acciones rápidas</h2>
        <div class="flex quick-card-container">
            <a href="{{ url_for('list.create') }}">
                <button class="flex flex-column quick-card">
                    <div class="header" style="background-color: #459a56;">
                        <ion-icon name="create"></ion-icon>
                    </div>
                    <div class="content">
                        <h3>Crear Lista</h3>
                        <div class="divider"></div>
                        <p>Crear una lista y ponerle un nombre</p>
                    </div>
                    <div class="divider"></div>
                    <div class="decorator">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                </button>
            </a>
            <a href="{{ url_for('list.my_lists', user = current_user.username) }}">
                <button class="flex flex-column quick-card">
                    <div class="header" style="background-color: rgb(221, 178, 37);">
                        <ion-icon name="person"></ion-icon>
                    </div>
                    <div class="content">
                        <h3>Ver mis listas</h3>
                        <div class="divider"></div>
                        <p>Ir a tu perfil</p>
                    </div>
                    <div class="divider"></div>
                    <div class="decorator">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                </button>
            </a>
            <a href="{{ url_for('friends.friend_list', username = current_user.username) }}">
                <button class="flex flex-column quick-card">
                    <div class="header" style="background-color: rgb(197, 45, 34);">
                        <ion-icon name="people"></ion-icon>
                    </div>
                    <div class="content">
                        <h3>Amigos</h3>
                        <div class="divider"></div>
                        <p>Buscar amigos o ver los tuyos.</p>
                    </div>
                    <div class="divider"></div>
                    <div class="decorator">
                        <ion-icon name="arrow-forward"></ion-icon>
                    </div>
                </button>
            </a>
        </div>

        <h2>Actividad</h2>
        {% if days %}
            <div class="feed-container">
                {% for day, log_list in days.items() %}
                    <h3 class="stroke-behind">
                        <span>{{ get_date_from_ordinal(day).strftime('%d %b %Y') }}</span>
                    </h3>
                    {% for log in log_list %}
                        <div class="log-container {% if log.type == 1 %}type-item{% endif %}">
                            <img class="log-user-image" src="{{ url_for('static', filename='uploads/profiles/{}'.format(log.user.pic_path)) }}" alt="{{ log.user.username }}">
                            {% if log.type == 1 %}
                                <p class="log-content">
                                    <span class="text"><a href="{{ url_for('list.my_lists', user=log.user.username) }}">{{ log.user.username }}</a> marcó "<a href="{{ url_for('list.user_list', user=log.user.username, listname=get_list_name(log.list_id)) }}">{{ get_item_name(log.item_id) }}</a>" como completado.</span>
                                    <span class="tag">{{ log.date.strftime('%H:%M') }}</span>
                                </p>
                            {% elif log.type == 2 %}
                                <p class="log-content">
                                    <span class="text"><a href="{{ url_for('list.my_lists', user=log.user.username) }}">{{ log.user.username }}</a> completó todos sus objetivos en <a href="{{ url_for('list.user_list', user=log.user.username, listname=get_list_name(log.list_id)) }}">{{ get_list_name(log.list_id) }}</a>.</span>
                                    <span class="tag">{{ log.date.strftime('%H:%M') }}</span>
                                </p class="log-content">
                            {% elif log.type == 3 %}
                                <p class="log-content">
                                    <span class="text"><a href="{{ url_for('list.my_lists', user=log.user.username) }}">{{ log.user.username }}</a> ahora es amigo de <a href="{{ url_for('list.my_lists', user=get_username(log.friend_id)) }}">{{ get_username(log.friend_id) }}</a>.</span>
                                    <span class="tag">{{ log.date.strftime('%H:%M') }}</span>
                                </p class="log-content">
                                <img class="log-user-image" src="{{ url_for('static', filename='uploads/profiles/{}'.format(get_pic_path_by_id(log.friend_id))) }}" alt="{{ get_username(log.friend_id) }}">
                            {% elif log.type == 4 %}
                                <p class="log-content">
                                    <span class="text"><a href="{{ url_for('list.my_lists', user=log.user.username) }}">{{ log.user.username }}</a> creó la lista <a href="{{ url_for('list.user_list', user=log.user.username, listname=get_list_name(log.list_id)) }}">{{ get_list_name(log.list_id) }}</a>.</span>
                                    <span class="tag">{{ log.date.strftime('%H:%M') }}</span>
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% else %}
            <p class="no-activity">
                Aquí no hay nada aún :(
                <br><br>
                Agrega algun <a href="{{ url_for('friends.friend_list', username=current_user.username) }}">amigo</a> o <a href="{{ url_for('list.my_lists', user=current_user.username) }}">crea una lista</a> para comenzar.
            </p>
        {% endif %}
            
    {% else %}
        <h1>Home Page</h1>
        <p>Bienvenido a To Do List</p>
        <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
{% endblock content %}
    