{% extends 'base.html' %}

{% block title %}
    {{ user.username }} - Perfil
{% endblock title %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='image-region-selector.css') }}">
{% endblock head_content %}

{% block content %}
    <section class="profile-header">
        <div class="header-image">
            <img src="{{ url_for('static', filename='/uploads/profiles/{}'.format(user.pic_path)) }}" alt="Profile Picture">
            {% if current_user == user %}
                <div class="edit btn-border">
                    <button open-modal="modalProfilePic" class="btn btn-primary btn-circle">
                        <ion-icon name="image"></ion-icon>
                    </button>
                </div>
            {% endif %}
        </div>
        <div class="header-info">
            <h1>{{ user.username }}</h1>
            {% if current_user == user %}
                <a class="btn" href="{{ url_for('list.create') }}">
                    <ion-icon name="create"></ion-icon>
                    Crear lista nueva
                </a>
            {% endif %}
        </div>
    </section>
    <section class="lists-container">
        <h2>Listas</h2>
        <div class="list">
            {% if lists %}
                {% for list in lists %}
                    <div class="list-item">
                        <a href="{{ url_for('list.user_list', user=user.username, listname=list.name) }}">
                            <span class="item-number {% if list.completed %}completed{% endif %}">
                                {{ get_completed_items_string(list) }}
                            </span>
                            {{ list.name }}
                        </a>
                        {% if current_user == user %}
                            <form action="{{ url_for('list.delete', list=list.id) }}" method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.id(value=list.id, type="hidden") }}
                                {{ form.submit() }}
                                <ion-icon name="trash"></ion-icon>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="empty">{{ user.username }} no tiene ninguna lista aún.</p>
            {% endif %}
        </div>
    </section>
    {% if current_user.username == user.username %}
        <section id="modalProfilePic" class="profile-selector-container modal">
            <div class="modal-container">
                <div class="modal-header">
                    <h2>Actualizar foto de perfil</h2>
                    <button type="button" class="close-modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="pic-preview-wrapper">
                    <div class="pic-preview-help">
                        <ion-icon class="icon" name="image"></ion-icon>
                        <span class="text">Arrastre una imagen o haga click para seleccionar.</span>
                    </div>
                    <div pic-preview></div>
                </div>
                <form action="{{ url_for('list.upload_image') }}" method="POST" enctype="multipart/form-data">
                    <p class="pic-filename" data-label=""></p>
                    {{ picform.hidden_tag() }}
                    {{ picform.id(value=user.id, type="hidden") }}
                    {{ picform.region(type="hidden", **{"pic-cut" : ""}) }}
                    {{ picform.image(**{"pic-input" : ""}) }}
                    {{ picform.submit(class="btn btn-primary") }}
                </form>
            </div>
        </section>

        <script src="{{ url_for('static', filename='imageRegionSelector.js') }}"></script>
    {% endif %} 
{% endblock content %}
    