{% extends 'base.html' %}

{% block title %}
    Registrarse
{% endblock title %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock head_content %}
    
{% block content %}
    <div class="container">
        <h1>Registrarse</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="inputs">
                {{ form.username.label() }}
                {{ form.username() }}
            </div>
            <div class="inputs">
                {{ form.email.label() }}
                {{ form.email() }}
            </div>
            <div class="inputs">
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            <div class="inputs">
                {{ form.passwordconfirm.label() }}
                {{ form.passwordconfirm() }}
            </div>
            <div class="divider"></div>
            <p>¿Ya tiene una cuenta? <a href="{{ url_for('auth.login') }}">Iniciar sesion</a>.</p>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock content %}
    