<head>
    <style>
        .bg {
            color: #000;
            background-color: #fff;
        }

        header {
            color: #000;
            background-color: #f9f9f9;
            padding: 0.5em 1.5em;
            box-shadow: 0 0 10px #03030377;
        }

        header h1 {
            font-size: 2.5em;
        }

        .main {
            padding: 1.5em;
        }

        p {
            color: #000;
        }

        .large {
            font-size: 1.5em;
        }
    </style>
</head>
<body class="bg">
    <header>
        <h1>To Do List</h1>
    </header>
    <div class="main">
        <p class="large">{{ username }},</p>
        <p>Se solicito un cambio de direccion de correo electronico para su cuenta. Entre al siguiente enlace para confirmar este cambio.</p>
        <p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
        <p>Si usted no pidió este cambio, ignore este mensaje.</p>
    </div>
</body>