{% extends 'base.html' %}

{% block title %}
    Verificar cuenta
{% endblock title %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock head_content %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <h1>Verificar cuenta</h1>
            <p class="text">Aun no ha verificado su correo electrónico.</p>
            <button class="btn btn-primary" id='sendBtn'>Enviar correo</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='mailSend.js') }}"></script>
{% endblock content %}
    